
<%= semantic_form_for [:admin, @media], :url => admin_medium_path(@media) do |f| %>
  <%= f.inputs :name => "Update" do %>
    <div style='float: left; margin: 20px;'>
      <a href='<%= @media.page_url %>' target="_blank"><img src='<%= @media.content_url %>' width='300px'></a>
    </div>
    <div style='float: left; width: 340px;'>
      <label style='font-weight: bold; color: #5e6469;'>Active Tags</label>
      <textarea name='media[tag_list]' style='width: 100%; height: 300px; font-size: 1.2em'><%= @media.tag_list.sort.join(', ') %></textarea>
      <input type='checkbox' name='media[featured]' <%= !@media.featured_at.nil? ? 'checked=true' : '' %> /><label>Featured</label>
    </div>
    <div style='clear: both;'></div>
  <% end %>
  
  <%= f.actions :submit %>

  <%= f.inputs :name => "About" do %>
    <li>
      <label>Page Link</label>
      <p><%= link_to @media.page_url, @media.page_url %></p>
    </li>
    <li>
      <label>Posted At</label>
      <p><%= @media.posted_at %></p>
    </li>
    <li>
      <label>Author Username</label>
      <p><%= link_to @media.author_username, admin_media_path("q[author_username_contains]" => @media.author_username) %></p>
    </li>
    <li>
      <label>Author Name</label>
      <p><%= link_to @media.author_name, admin_media_path("q[author_name_contains]" => @media.author_name) %></p>
    </li>
    <li>
      <label>Original Tags</label>
      <p><% @media.original_tag_list.sort.each do |tag| %>
          <%= link_to tag, admin_media_path("q[tag_list_contains]" => tag) %>
        <% end %>
    </p>
    </li>
    <li>
      <label>Active Tags</label>
      <p><% @media.tag_list.sort.each do |tag| %>
          <%= link_to tag, admin_media_path("q[tag_list_contains]" => tag) %>
        <% end %>
    </p>
    </li>
  <% end %>
<% end %>